# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Streamlit
.streamlit/secrets.toml

# Environment variables
.env
.env.local

# Mac / Windows
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# SQLite
*.sqlite3

# Temporary files
*.tmp
*.bak

# Jupyter
.ipynb_checkpoints/
